.container {
  display: flex;
}

.container #query,
.container #output,
.container .flex-h {
  flex: 1 1 auto;
}

.container > *:not(:first-child) {
  margin-left: 0.5em;
}

.vpanel {
  display: flex;
  flex-direction: column;
}

.vpanel > * {
  padding: 1ex 1em;
}
.vpanel > *:not(:first-child) {
  margin-top: 1ex;
}

input:read-only,
textarea:read-only {
  background-color: #eee;
}

label {
  user-select: none;
}

button {
  padding: 1ex 1em;
}

kbd {
  font-size: .95em;
  border: 1px solid #666;
  border-radius: 3px;
  background-color: #eee;
  display: inline-block;
  padding: 2px 6px;
}

#help {
  float: right;
  margin: 0.2em 0 0.2em 8px;
  padding: 0.5em;
  border: 2px solid #999;
  border-radius: 0.5em;
}

#help > h2 {
  margin: 0;
  font-size: 1.2em;
}
#help > div {
  padding-left: 0.5em;
}
#help a {
  color: inherit;
}
