/* default.css */

:root {
  --anchor-color: #0000ee;
  --anchor-hover-background-color: #ccccff;

  --table-border-width: 1px;
  --table-border-style: solid;
  --table-border-color: #e0e0e0;
}

a {
  text-decoration: underline;
  text-underline-offset: .2rem;
  cursor: pointer;

  &, &:visited {
    color: var(--anchor-color);
  }
}

table {
  border-collapse: collapse;

  th, td {
    padding: 0.15em 0.6em;
    border: var(--table-border-width) var(--table-border-style) var(--table-border-color);
  }

  thead th {
    font-size: 0.85em;
    font-weight: 500;
    background-color: #cccccc;
  }

  tbody tr {
    &:nth-child(odd) {
      background-color: #ffffff;
    }
    &:nth-child(even) {
      background-color: #f4f4f4;
    }
  }
}

.grid-table {
  display: grid;
  border-left: var(--table-border-width) var(--table-border-style) var(--table-border-color);
  border-top: var(--table-border-width) var(--table-border-style) var(--table-border-color);

  > .grid-header {
    display: contents;
    font-size: 0.85em;
    font-weight: 500;
    > * {
      background-color: #cccccc;
      text-align: center;
    }
  }

  > .grid-row {
    display: contents;
    &:nth-child(odd) > * {
      background-color: #f4f4f4;
    }
    &:nth-child(even) > * {
      background-color: #ffffff;
    }
  }

  > .grid-header > *,
  > .grid-row > * {
    display: block;
    box-sizing: border-box;
    padding: 0.15em 0.60em;
    border-right: var(--table-border-width) var(--table-border-style) var(--table-border-color);
    border-bottom: var(--table-border-width) var(--table-border-style) var(--table-border-color);
  }
}
