@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(/material-symbols.woff2) format('woff2');
}

.material-symbols {
  font-family: 'Material Symbols Outlined';

  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-size: 1.375em; /* 11/8 */
  line-height: 1;
  vertical-align: text-bottom;

  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

button > .material-symbols {
  font-size: 1.250em; /* 9/8 */
  vertical-align: middle;
}
