.container {
  display: flex;
}

.container #query {
  flex: 1 1 auto;
}

.container > *:not(:first-child) {
  margin-left: 0.5em;
}

.vpanel {
  display: flex;
  flex-direction: column;
}

.vpanel > * {
  padding: 1ex 1em;
}
.vpanel > *:not(:first-child) {
  margin-top: 1ex;
}

kbd {
  font-size: .95em;
  border: 1px solid #666;
  border-radius: 3px;
  background-color: #eee;
  display: inline-block;
  padding: 2px 6px;
}
